<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head (title)">
		<title th:text="${title}">Page Title</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet"></link>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
		<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
	</head>
</html>