<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="route_steps" id="steps_wiz" th:if="${router != null and not #lists.isEmpty(router.visitedArticles)}">
      		<h3 align="center" th:text="'Found Philosophy in ' + ${router.totalHops} + ' hops!'">Found Philosophy in </h3>
      	<div  class="stepwizard">
		      	<script type="javascript">
       				stopLoader();
    			</script>
			    <div class="stepwizard-row" th:each="_article : ${router.visitedArticles}">
			        <div class="stepwizard-step">
			            <button class="btn btn-default btn-square" disabled="disabled"></button>
			        </div>
			        <h3><a target="_blank" th:href="${_article.url}" th:text="${_article.name}">name</a></h3>
			        <p th:text="${_article.shortDescription}">description]</p>
			    </div>
    	</div>
    </div>
</html>